* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.top {
  background-color: #f5f5f5;
  width: 100%;
  height: 35px;
  border: 1px solid #eee;
}
.top-center {
  width: 1190px;
  height: 35px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 35px;
}
.top-center a {
  color: #6c6c6c;
}
.top-center a:hover {
  color: #f22e00;
}
.top-center-left {
  float: left;
}
.top-center-right {
  float: right;
}
.top .top-center li {
  float: left;
  margin-right: 12px;
}
.top-center .top-center-left .login {
  color: #f22e00;
}
.region-ul {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: #fff;
  border: 1px solid #eee;
  display: none;
  z-index: 10001;
}
.region .region-ul li {
  float: none;
  padding-left: 8px;
}
.search-wrapper {
  width: 100%;
  height: 97px;
  padding-top: 24px;
  /* border: 1px solid black; */
}
.search-wrapper-center {
  width: 1190px;
  height: 88px;
  margin: 0 auto;
  position: relative;
}
.search-wrapper-center div {
  display: block;
}
.logo-a {
  position: absolute;
  z-index: 30;
}
.logo-a img {
  margin: 14px 0 0 22px;
  float: left;
}
.search {
  margin-left: 258px;
  margin-right: 302px;
  height: 87px;
  width: 630px;
  position: relative;
}
.search .search-title {
  width: 613px;
  height: 22px;
  margin-left: 17px;
}

.search .search-title li {
  color: #f40;
  text-align: center;
  float: left;
  width: 36px;
  height: 22px;
  line-height: 22px;
  margin-right: 4px;
  font-size: 12px;
  cursor: pointer;
}
.search .search-title li:hover {
  background-color: #ffeee5;
}
.search .search-title .search-title-selected {
  color: #fff;
  font-weight: 700;
  background: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  background-repeat: repeat-x;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.search .search-box {
  width: 630px;
  height: 40px;
  position: relative;
}
.search .search-box .btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  width: 74px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.search .search-box .btn button {
  border: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff9000 0, #ff5000 100%);
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.search .search-box .search-input-box {
  margin-right: 74px;
  border: 2px solid #ff5000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: none;
  overflow: hidden;
  height: 36px;
}
.search .search-box .search-input-box .search-input {
  width: 554px;
  height: 36px;
  overflow: hidden;
}
.search .search-box .search-input-box .search-input input {
  width: 100%;
  height: 24px;
  border: none;
  outline: 0;
  text-indent: 10px;
  line-height: 24px;
  padding: 6px 0;
}
.search .search-ft {
  width: 589px;
  height: 46px;
  padding: 5px 41px 0 0;
  position: relative;
}
.search .search-ft .search-host {
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  margin-bottom: 5px;
}
.search .search-ft .search-host a {
  float: left;
  margin-right: 8px;
  color: #666;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
}
.search .search-ft .search-host .search-host-selected {
  color: #ff5000;
}
.search .search-ft .more {
  position: absolute;
  top: 0;
  right: 20px;
  color: #666;
  font-size: 12px;
  margin-top: 5px;
}
.search .search-ft a:hover {
  color: #ff5000;
}
.search-wrapper-center .qrcode {
  position: absolute;
  top: 0;
  right: 110px;
  width: 76px;
  height: 90px;
}
.search-wrapper-center .qrcode .qrcode-a {
  width: 74px;
  height: 88px;
  border: 1px solid #eee;
  display: block;
}
.search-wrapper-center .qrcode .qrcode-title {
  line-height: 20px;
  margin: 4px 0 0 12px;
  width: 78px;
  color: #ff5000;
  font-size: 12px;
}
.search-wrapper-center .qrcode img {
  width: 62px;
  height: 62px;
  margin-left: 6px;
}
.search-wrapper-center .qrcode .qrcode-off {
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #eee;
  left: -16px;
  text-align: center;
  color: #ddd;
  font-size: 14px;
  line-height: 14px;
}
.tbh-nav {
  width: 100%;
  height: 30px;
  background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
}
.tbh-nav .tbh-nav-center {
  width: 1190px;
  height: 30px;
  margin: 0 auto;
}
.tbh-nav .tbh-nav-center h2 {
  float: left;
  width: 190px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #ff5000;
  font-size: 16px;
}
.tbh-nav .tbh-nav-center ul {
  float: left;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
}
.tbh-nav .tbh-nav-center ul li {
  float: left;
  margin: 0 3px;
  padding: 0 4px;
  color: #fff;
  text-align: center;
}
.tbh-nav .tbh-nav-center ul li a {
  color: #fff;
}
.screen .screen-center {
  width: 1190px;
  height: 632px;
  margin: 0 auto;
}
.screen .screen-center .main {
  float: left;
  width: 900px;
  height: 632px;
  /* border: 1px solid black; */
}
.screen .screen-center .main .main-inner {
  width: 900px;
  height: 522px;
}
.screen .screen-center .main .main-inner .bth-service {
  float: left;
  width: 190px;
  height: 522px;
  position: relative;
}
.screen .screen-center .main .main-inner .bth-service ul {
  border: 1px solid #ff5000;
  border-top: none;
  padding-top: 5px;
  padding-bottom: 3px;
}
.screen .screen-center .main .main-inner .bth-service ul li {
  position: relative;
  width: 145px;
  height: 32px;
  padding-left: 25px;
  padding-right: 19px;
  line-height: 32px;
  overflow: hidden;
}
.screen .screen-center .main .main-inner .bth-service ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
.screen .screen-center .main .main-inner .core {
  margin-left: 10px;
  margin-top: 10px;
  width: 520px;
  height: 512px;
  float: left;
  /* border: 1px solid black; */
}
.screen .screen-center .main .main-inner .core .bth-promo {
  width: 520px;
  height: 280px;
  position: relative;
}
.screen .screen-center .main .main-inner .core .bth-promo a{
  position: absolute;
}
.screen .screen-center .main .main-inner .core .bth-promo ul {
  position: absolute;
  bottom: 15px;
  width: 70px;
  height: 13px;
  line-height: 13px;
  left: 50%;
  margin-left: -35px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.screen .screen-center .main .main-inner .core .bth-promo ul li {
  float: left;
  margin: 3px;
  width: 8px;
  height: 8px;
}
.screen .screen-center .main .main-inner .core .bth-promo ul .select-bg a{
  background-color: #ff5000;
}
.screen .screen-center .main .main-inner .core .bth-promo ul li a {
  display: block;
  width: 6px;
  padding-top: 6px;
  height: 0;
  border-radius: 50%;
  background-color: #fff;
}
.screen .screen-center .main .main-inner .core .bth-promo .slidebtn{
  height: 30px;
  width: 20px;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  background-color: rgba(0,0,0,.3);
  text-align: center;
}
.screen .screen-center .main .main-inner .core .bth-promo .btn-left{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.screen .screen-center .main .main-inner .core .bth-promo .btn-right{
  position: absolute;
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.screen .screen-center .main .main-inner .core .bth-tmall {
  width: 520px;
  height: 230px;
  margin-top: 1px;
  position: relative;
}
.screen .screen-center .main .main-inner .core .bth-tmall .bth-tmallhead {
  width: 520px;
  height: 18px;
  line-height: 18px;
  padding-top: 11px;
  border-bottom: 3px solid #ff1684;
}
.screen .screen-center .main .main-inner .core .bth-tmall .bth-tmallhead .tm {
  width: 136px;
  height: 19px;
  display: inline-block;
  background-image: url("img/tm.png");
  background-size: 100% 100%;
}
.screen .screen-center .main .main-inner .core .bth-tmall .bth-tmallhead .tmtext {
  font-size: 12px;
  color: #666;
}
.screen .screen-center .main .main-inner .core .bth-tmall {
  width: 520px;
  height: 201px;
  display: block;
}
.screen .screen-center .main .main-inner .core .bth-tmall a{
  display: inline-block;
  margin-top: 6px;
  width: 251px;
  height: 190px;
  overflow: hidden;
  margin-left: 6px;
}
.screen .screen-center .main .main-inner .sub-column{
    float: right;
    width: 160px;
    height: 512px;
    margin-top: 10px;
    margin-right: 10px;
}
.screen .screen-center .main .main-inner .sub-column-text{
    margin-top: 1px;
    width: 160px;
    height: 230px;
}
.screen .screen-center .main .main-inner .sub-column-text h5{
    font-size: 12px;
    font-weight: 400px;
    color: #a1a1a1;
    height: 24px;
    line-height: 24px;
    background-color: #f1f1f1;
    padding-top: 6px;
}
.screen .screen-center .main .bth-headline{
    width: 890px;
    height: 100px;
}
.screen .screen-center .main .bth-headline .headline{
    position: relative;
    width: 856px;
    height: 73px;
    padding: 14px 14px 12px 20px;
    margin-top: 10px;
}
.screen .screen-center .main .bth-headline .headline h3{
    width: 180px;
    height: 73px;
    float: left;
    background: url("img/TB4-1.png") no-repeat;
    margin-top: 16px;
}
.screen .screen-center .main .bth-headline .headline h3 p{
    margin-top: 26px;
    width: 180px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 400;
    color: #999;
}
.screen .screen-center .main .bth-headline .headline a{
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 12px;
    font-weight: 400;
    color: #999;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: right;
}
.screen .screen-center .main .bth-headline .headline .headline-bd{
    width: 676px;
    height: 73px;
    margin-left: 180px;
}
.screen .screen-center .main .bth-headline .headline .headline-bd a{
    display: block;
    width: 676px;
    height: 73px;
}
.screen .screen-center .main .bth-headline .headline .headline-bd a img{
    float: left;
    width: 130px;
    height: 73px;
}
.screen .screen-center .main .bth-headline .headline .headline-bd a h4{
    margin-top: 2px;
    margin-left: 144px;
    display: block;
    width: 532px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #333;
}
.screen .screen-center .main .bth-headline .headline .headline-bd a p{
    margin-left: 144px;
    width: 532px;
    height: 36px;
    overflow: hidden;
    font-size: 14px;
}
.screen .screen-center .col-right{
    float: right;
    width: 290px;
    height: 632px;
    margin-top: 10px;
    /* border: 1px solid black; */
    position: relative;
}
.screen .screen-center .col-right .member{
  width: 290px;
  height: 132px;
  padding: 3px 0 10px 0;
}
.screen .screen-center .col-right .member .member-bd{
  width: 290px;
  height: 91px;
  position: relative;
}
.screen .screen-center .col-right .member .member-bd .member-pic{
  width: 74px;
  height: 56px;
  margin: 0 auto;
  text-align: center;
}
.screen .screen-center .col-right .member .member-bd .member-pic a{
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  overflow: hidden;
  border-radius: 50%;
}
.screen .screen-center .col-right .member .member-bd .member-text{
  width: 290px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  font-size: 12px;
}
.screen .screen-center .col-right .member .member-bd .member-tjb{
  width: 290px;
  height: 17px;
  line-height: 17px;
  text-align: center;
}
.screen .screen-center .col-right .member .member-bd .member-tjb a{
  font-size: 12px;
  color: #ff5000;
  font-weight: 400;
  padding: 0 10px 0 20px;
  background-color: #ffe4db;
}
.screen .screen-center .col-right .member .member-bd .member-tjb .gold{
  display: inline-block;
  width: 72px;
  height: 17px;
  line-height: 17px;
  border-radius: 9px;
  position: relative;
}
.screen .screen-center .col-right .member .member-bd .member-tjb .gold span{
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  display: block;
  background:url("img/TB5-2.png") 0 -572.5px no-repeat;
}
.screen .screen-center .col-right .member .member-bd .member-tjb .vip{
  margin-left: 2px;
  display: inline-block;
  width: 60px;
  height: 17px;
  line-height: 17px;
  position: relative;
  border-radius: 9px;
}
.screen .screen-center .col-right .member .login-head{
  width: 275px;
  height: 40px;
  margin-top: 2px;
  padding-left: 15px;
}
.screen .screen-center .col-right .member .login-head .login-box{
  width: 275px;
  height: 25px;
  margin-top: 8px;
}
.screen .screen-center .col-right .member .login-head .login-box a{
  width: 75px;
  height: 25px;
  line-height: 25px;
  background-image: linear-gradient(to right,#ff5000 0,#ff6f06 100%);
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin-right: 7px;
}
.screen .screen-center .col-right .warning a{
  position: relative;
  padding-left: 82px;
  color: #f40;
  display: block;
  height: 26px;
  line-height: 26px;
  background: #ffe4dd;
  font-size: 12px;
}
.screen .screen-center .col-right .notice-box{
  width: 290px;
  height: 98px;
  padding-top: 10px;
}
.screen .screen-center .col-right .notice-box .notice-title{
  position: relative;
  margin-top: 4px;
  padding: 0 8px;
  width: 276px;
  height: 24px;
}
.screen .screen-center .col-right .notice-box .notice-title li{
  float: left;
  width: 32px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 0 11px;
}
.screen .screen-center .col-right .notice-box .notice-title li a{
  color: #3c3c3c;
  font-size: 12px;
}
.screen .screen-center .col-right .notice-box .notice-text{
  width: 290px;
  height: 65px;
}
.screen .screen-center .col-right .notice-box .notice-text ul{
  width: 266px;
  height: 50px;
  margin: 0 12px;
  padding-top: 9px;
  padding-bottom: 6px;
}
.screen .screen-center .col-right .notice-box .notice-text ul li{
  float: left;
  height: 25px;
  width: 130px;
}
.screen .screen-center .col-right .notice-box .notice-text ul .first{
  width: 260px;
}
.screen .screen-center .col-right .notice-box .notice-text ul li a{
  font-size: 12px;
  color: #333;
}
.screen .screen-center .col-right .notice-box .notice-text ul .first a{
  color: #f40;
}
.screen .screen-center .col-right .moudle-box{
  width: 290px;
  height: 231px;
  border-top: 1px solid #f4f4f4;
}
.screen .screen-center .col-right .moudle-box ul li{
  float: left;
  width: 70px;
  height: 75px;
  border: 1px solid #f4f4f4;
}
.screen .screen-center .col-right .moudle-box ul li a{
  font-size: 12px;
  color: #333;
  text-align: center;
  display: block;
}
.screen .screen-center .col-right .moudle-box ul li a span{
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("img/TB5-2.png") 100% 100% no-repeat;
  margin-top: 11px;
}
.screen .screen-center .col-right .moudle-box ul li a .pic1{
  background-position: 0 0;
}
.screen .screen-center .col-right .moudle-box ul li a .pic2{
  background-position: 0 -87px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic3{
  background-position: 0 -44px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic4{
  background-position: 0 -132px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic5{
  background-position: 0 -176px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic6{
  background-position: 0 -220px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic7{
  background-position: 0 -264px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic8{
  background-position: 0 -308px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic9{
  background-position: 0 -352px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic10{
  background-position: 0 -396px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic11{
  background-position: 0 -440px;   
}
.screen .screen-center .col-right .moudle-box ul li a .pic12{
  background-position: 0 -484px;   
}
.screen .screen-center .col-right .app{
  width: 290px;
  height: 110px;position: relative;
}
.screen .screen-center .col-right .app h3{
  font-size: 14px;
  width: 290px;
  height: 30px;
  line-height: 30px;
  position: relative;
  padding-left: 14px;
}
.screen .screen-center .col-right .app h3 a{
  position: absolute;
  right: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
.screen .screen-center .col-right .app ul{
  height: 84px;
  padding-left: 23px;
  position: relative;
}
.screen .screen-center .col-right .app ul li{
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  margin-right: 21px;
  margin-bottom: 8px;
}
.screen .screen-center .col-right .app ul li a img{
  width: 32px;
  height: 32px;
}